<div class="footer-wrapper">
    <div class="footer">
        <div class="footer-left">
            <img id="footer-logo" src="../../assets/Logos/MedTechWhite.png" width="150px" alt="">
            <div class="footer-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora asperiores blanditiis hic fuga obcaecati dicta autem, eum veniam nostrum. At voluptates aspernatur quae id non ducimus aliquam commodi voluptatibus voluptas.</div>
            <div class="copyright">©2019 MedTech All rights reserved.</div>
        </div>
        <div class="footer-center">
            
            <ul class="footer-center-list">
                <div>Useful Link</div> 
            <li><a href="#">Home</a></li>
            <li><a href="#">Clubs</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">About us</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <div class="footer-contact">Contact</div>
            <div class="footer-adress">The Mediterranean Institue Of Technology (MEDTECH)
                Les Berges du Lac II</div>
                <div class="footer-phone"><img src="../../assets/Icons/phone.svg" width="17px" alt=""> <div class="footer-phone-number">(+216) 70 016 100</div></div>
                <div class="footer-fax"><img src="../../assets/Icons/fax.svg" width="17px" alt=""> <div class="footer-fax-number">(+216) 70 018 600</div></div>
                <div class="footer-social">
                    <img  src="../../assets/Icons/facebook.svg" width="17px" alt="">
                    <img  src="../../assets/Icons/instagram.svg" width="17px" alt="">
                </div>
        </div>
    </div>
</div>