<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3>Create Your Post</h3>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form  (submit)="onSavePost(postForm)" #postForm="ngForm" >
                <div class="row mb-2">
                  <label for="validationDefault01" class="col-4 col-form-label"
                    >Post title </label
                  >
                  <div class="col-8">
                    <input
                    class="form-control "
                      id="validationDefault01"
                      type="text"
                      name="title"
                      [ngModel]="post?.title"
                      required
                      
                      placeholder="Post Title"
                      #title="ngModel">
                      
                  </div>
                </div>
                
                
                  
                
                <div class="form-group row">
                  <label for="validationServer02" class="col-4 col-form-label">topic</label>
                  <div class="col-8">
                    <select
                      id="select"
                      type="text"
                      name="topic"
                      class="form-control is-invalid"
                      [ngModel]="post?.topic"
                      required
                      placeholder="post topic"
                      
                      #topic="ngModel"
                      class="form-control"
                    >
                    
                    <option selected>Music</option>
                    <option>Gaming</option>
                    <option>Media & Publication</option>
                    <option>TV</option>
                    <option>University</option>
                    <option>Media</option>
                    <option>Jobs</option>
                    <option>Sports & Health </option>
                    <option>Fashion & Beauty</option> 
                    </select>
                    <div class="invalid-feedback">Must select a topic</div>
                  </div>
                </div>
               

                <div class="form-group row">
                  <label for="validationServer03" class="col-4 col-form-label"
                    >Describe :</label
                  >
                  <div class="col-8">
                    <textarea
                    id="publicinfo"
                    rows="4"
                    cols="40"
                    class="form-control "
                    name="content"
                    [ngModel]="post?.content"
                    required
                    placeholder="Post Content"
                    #content="ngModel">
                    </textarea>
                    
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-9 col-3">
                    <button name="submit" type="submit" class="btn btn-primary">
                      Save post
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
  