<div class="cards-wrapper">
  <div class="cards">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-3">
          <img src="../../assets/field/info.jpg" class="card-img" alt="..." id="f1" />
        </div>
        <div class="col-md-6 card-body">
          <div class=" card-content ">
            <h5 class="card-title">Question</h5>
            <p class="card-text card-text-custom">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem
              vel commodi adipisci perferendis aut enim quae? Nam, expedita
              quidem, repudiandae amet iste eaque velit corporis minima ut dolor
              voluptate earum!
            </p>
          </div>
        </div>
        <div class="col-md-3 d-flex flex-column card-cta">
          <div class="card-buttons">
            <button type="button" class="btn btn-primary btn--orange">
              Answer
            </button>
            <button type="button" class="btn btn-outline-secondary btn--orange-outline">
              Like
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>