<mat-grid-list class="grid" cols=4 rowHeight="300px">
  <mat-grid-tile  colspan="3" rowspan="1">
    <img src="../../assets/topics/IT.png"/>
  </mat-grid-tile>
  <mat-grid-tile  colspan="1" rowspan="2">
    <img class="card-img" src="../../assets/topics/events.png"/>
  </mat-grid-tile>
  <mat-grid-tile  colspan="1" rowspan="1">
    <img src="../../assets/topics/courses.png"/>
  </mat-grid-tile>
  <mat-grid-tile  colspan="2" rowspan="1">
    <img src="../../assets/topics/clubs.png"/>
  </mat-grid-tile>
  <mat-grid-tile  colspan="4" rowspan="1">
    <img src="../../assets/topics/sports.png"/>
  </mat-grid-tile>
</mat-grid-list>