<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="nav-inner">
    <a class="navbar-brand navbar-logo" routerLink="/"><img src="../../assets/Logos/MedTech.png" alt="" />
    </a>

    <!-- <form class="form-inline search-bar">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><img src="../../assets/Icons/icon_search.svg" width="17px"
              alt="" /></span>
        </div>
        <input type="text" class="form-control " placeholder="What can we help you find?"
          aria-label="What can we help you find?" aria-describedby="basic-addon1" />
      </div>
    </form> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav-list" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/posts">
            <img src="../../assets/Icons/Clubs.svg" width="17px" alt="" />
            Posts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create"><img src="../../assets/Icons/News.svg" width="17px" alt="" />
            Add Post</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#"><img src="../../assets/Icons/aboutus.svg" width="17px" alt="" />
            About Us
          </a>
        </li>   
        <li class="nav-item" *ngIf="!userIsAuthenticated">
          <a class="nav-link" id="navbarDropdown" role="button" routerLink="/login">
            <img src="../../assets/Icons/signup.svg" width="17px" alt="" /> Log
            In/ Sign Up
          </a>
        </li>
        <li class="nav-item" *ngIf="userIsAuthenticated">
          <a class="nav-link" id="navbarDropdown" routerLink="/userpanel" role="button">
            <img src="../../assets/Icons/signup.svg" width="17px" alt="" />{{ username }}
          </a>

        </li>
        <li class="nav-item" *ngIf="userIsAuthenticated">
          <button mat-button (click)="onLogout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>