
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">{{ post.title }}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        {{ post.content }}
      </div>
      <div class="modal-body">
        <a
        class="comments-link"
        type="button"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        *ngIf="!message"
        aria-controls="collapseOne"
        >View comments
      </a>
      <div
      class="alert alert-info"
      role="alert"
      *ngIf="message"
      style="height: 40px;"
    >
     no comments for this post
    </div>
      <hr>
        <div
        id="collapseOne"
        class="collapse"
        aria-labelledby="headingOne"
        *ngFor="let comment of post.comments"
      >

      <div class="card-header">
        <div class="alert alert-info">
          {{ comment }}
        </div>
      </div>
        
      </div>
      <form (submit)="onUpdate(post, commentForm)" *ngIf="isAuth" #commentForm="ngForm">
        <div class="textarea-container">
          <textarea
            cols="10"
            rows="3"
            name="comment"
            [ngModel]
            required
            placeholder="Post comment"
            #content="ngModel"
            class="form-control"></textarea>
          <button name="submit" type="submit" class="btn btn-primary">
            Comment
          </button>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>