:host {
  display: block;
  margin-top: 120px;
  padding: 75px;
}

.info-text {
  text-align: center;
}
.btn {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 5px;
align-content: center;}
.card {
  margin-bottom: 50px;
  grid-column: auto auto auto;
}
.card-header {
  font-weight: bold;
  display: grid;
  grid-template-columns: auto auto auto;
}
.publisher {
  grid-column: 3 / 4;
  justify-self: end;
  font-weight: 50;
}

.card-text{
  width: 100%;
  line-height: 1.2em;
  height: 2.4em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card-body {
  display: grid;
}

.textarea-container {
  position: relative;
}

.textarea-container textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.textarea-container button {
  position: absolute;
  top: 0;
  right: 0;
}

.form-control {
  resize: none;
}
