:host {
    display: block;
    margin-top: 120px;
    padding: 75px;
  }
  
  mat-accordion{
    margin-top: 200px;
    padding: 75px;
    
  }
  
  .info-text {
    text-align: center;
  }
  .btn{
    margin-right: 20px; 

  }
  .card {
    margin-bottom: 50px;
    grid-column: auto auto auto;
  }
  .card-header{
    font-weight:bold;
    display: grid;
    grid-template-columns: auto auto auto ;
  }
  .publisher{
    grid-column: 3 / 4;
    justify-self: end;
    font-weight: 50;
  }
  #comment {
    border: 5px;
    border-color: black;
  }