<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <ul class="list-group list-group" id="list-tab" role="tablist">
          <button
            class="list-group-item list-group-item-action active"
            [class.active]="tab == 'tab10'"
            (click)="ngOnInit(); tab = 'tab10'"
            role="tab"
          >
            <a>Show all</a>
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab1'"
            (click)="FilterMus(); tab = 'tab1'"
            role="tab"
          >
            Music
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab2'"
            (click)="FilterGam(); tab = 'tab2'"
            role="tab"
          >
            Gaming
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab3'"
            (click)="FilterTv(); tab = 'tab3'"
            role="tab"
          >
            TV
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab4'"
            (click)="FilterUni(); tab = 'tab4'"
            role="tab"
          >
            University
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab5'"
            (click)="FilterMed(); tab = 'tab5'"
            role="tab"
          >
            Media
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab6'"
            (click)="FilterJob(); tab = 'tab6'"
            role="tab"
          >
            Jobs
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab7'"
            (click)="FilterSpo(); tab = 'tab7'"
            role="tab"
          >
            Sports & Health
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab8'"
            (click)="FilterFas(); tab = 'tab8'"
            role="tab"
          >
            Fashion & Beauty
          </button>
        </ul>
      </div>
    </div>

    <div
      class="alert alert-info"
      role="alert"
      *ngIf="message"
      style="height: 40px;"
    >
      This Topic is empty.
      <a href="http://localhost:4200/posts" class="alert-link">See all Posts</a
      >. Give it a click if you like.
    </div>
    <div class="col-md-9">
      <div class="card" *ngFor="let post of posts">
        <div class="card-header">
          {{ post.title }}
          <div class="topic">
            {{ post.topic }}
          </div>
          <div class="publisher">
            {{ post.publisher.name }}
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{ post.content }}</p>
          <p class="card-text" *ngFor="let comment of post.comments">
            {{ comment }}
          </p>

          <form (submit)="onUpdate(post, commentForm)" #commentForm="ngForm">
            <div class="col-8">
              <textarea
                id="content"
                cols="30"
                rows="2"
                name="comment"
                [ngModel]="post?.comment"
                required
                placeholder="Post comment"
                #content="ngModel"
                class="form-control"
              ></textarea>
            </div>
            <button name="submit" type="submit" class="btn btn-primary">
              Compose Reply
            </button>
            <button (click)="onDelete(post.id)" class="btn btn-danger">
              DELETE
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
