

<mat-accordion multi="true" *ngIf="posts.length > 0">
  <div class="card" *ngFor="let post of posts">
    <h1 class="card-header">
      {{ post.title }}
      <div class="publisher">{{post.publisher}}</div>
    </h1>
    <div class="card-body">
      <p class="card-text">{{ post.content }}</p>
      <p class="card-text">{{ post.comment }}</p>
      <a (click)="onDelete(post.id)" class="btn btn-danger">DELETE</a>
      
      <form (submit)="onUpdate(post.id, post.title, post.content, commentForm)" #commentForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <textarea
          matInput
          rows="4"
          name="comment"
          [ngModel]="post?.comment"
          required
          placeholder="Post comment"
          #content="ngModel"></textarea>
        
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit">comment Post</button>
      </form>
    </div>
  </div>
</mat-accordion>