<div class="search-bar-container">
  <label class="search-label" for="Search-Club">Search Club</label><br />
  <img src="../../assets/Icons/icon_search.svg" width="17px" alt="" />
  <input class="searchbar" type="text" [(ngModel)]="title" (input)="search()" />
  <button class="create-btn btn-primary" mat-raised-button  [routerLink]="['/create']">Create your own post</button>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <ul class="list-group list-group" id="list-tab" role="tablist">
          <button
            class="list-group-item list-group-item-action active"
            [class.active]="tab == 'tab10'"
            (click)="ngOnInit(); tab = 'tab10'"
            role="tab"
          >
            <a>Show all</a>
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab1'"
            (click)="FilterMus(); tab = 'tab1'"
            role="tab"
          >
            Music
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab2'"
            (click)="FilterGam(); tab = 'tab2'"
            role="tab"
          >
            Gaming
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab3'"
            (click)="FilterTv(); tab = 'tab3'"
            role="tab"
          >
            TV
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab4'"
            (click)="FilterUni(); tab = 'tab4'"
            role="tab"
          >
            University
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab5'"
            (click)="FilterMed(); tab = 'tab5'"
            role="tab"
          >
            Media
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab6'"
            (click)="FilterJob(); tab = 'tab6'"
            role="tab"
          >
            Jobs
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab7'"
            (click)="FilterSpo(); tab = 'tab7'"
            role="tab"
          >
            Sports & Health
          </button>
          <button
            class="list-group-item list-group-item-action"
            [class.active]="tab == 'tab8'"
            (click)="FilterFas(); tab = 'tab8'"
            role="tab"
          >
            Fashion & Beauty
          </button>
        </ul>
      </div>
    </div>
   
    <div class="col-md-9">
      <div
        class="alert alert-info"
        role="alert"
        *ngIf="message"
        style="height: 40px;"
      >
        This Topic is empty.
        <a href="http://localhost:4200/posts" class="alert-link"
          >See all Posts</a
        >. Give it a click if you like.
      </div>
      <div class="card" *ngFor="let post of posts; index as i;">
        <div class="card-header">
          {{ post.publisher.name }}
          <div class="publisher">Topic: {{ post.topic }}</div>
        </div>
        <div class="card-body">
          <h3><p class="title">
            {{ post.title }}
          </p></h3>
          <p class="card-text">{{ post.content }}</p>
        </div>
        <small class="text-muted">{{post.date}}</small>
        <div class="card-footer">
         <button class="btn" data-toggle="modal" [attr.data-target]="'#exampleModal' + i">View More</button>
        </div>
        <app-post class="modal fade fade bd-example-modal-lg"
        id="exampleModal{{i}}"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"[post]= "post"></app-post>
      </div>
    </div>
  </div>
</div>
